/*  CR_css file   */
h1 {
font-weight: bold;
  color: blue;
  font-size: 32px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.banner {
  width: auto;
  font-size: 30px;
   height: 200px;

}

.Bannerimagetag {
  width: 100%;
  height: auto;
}


.underConstruction
{ width: 50%;


}
.underConstructionDIV {
  width: 100%;
  display: flex;
  justify-content: center
}

.appbar2-text {

  color: #e3d2b9;
  font-weight:bolder;
}


/* NAVIGATION */
stroke.nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 5px 0;

  /* box-shadow: 0px 5px 0px #dedede; */
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}

/* text color when not hover  */
nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 5px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
/*  font-size: calc([minimum size] + ([maximum size] - [minimum size]) *
((100vw - [minimum viewport width]) /
([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
 line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .65s;
}
/* hover text color */
nav ul li a:hover {
  color: #555;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

/* sets underline color, height, etc before line drawn  */
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #111;
  z-index: 1;
}
